<%= form_with model: @club_team do |f| %>
  <section class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </section>
  <%= f.submit nil, class: "btn btn-primary" %>
<% end %>
