<section class="nested-fields card">
  <section class="card-header">
    Game
    <%= link_to_remove_association sanitize("&times;"), f, class: "close" %>
  </section>
  <section class="card-body">
    <%= render "games/form_fields", f: f %>
  </section>
</section>
