<h1 class="page-header">High school team page</h1>

<section class="card">
  <section class="card-header">
    Info
  </section>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>School name:</strong>
      <%= @high_school_team.school_name %>
    </li>
    <li class="list-group-item">
      <strong>Team name:</strong>
      <%= @high_school_team.team_name %>
    </li>
  </ul>
</section>

<section class="card">
  <section class="card-header">
    Players
  </section>
  <ul class="list-group">
    <% @high_school_team.players.each do |player| %>
      <li class="list-group-item"><%= link_to player.full_name, player_path(player) %></li>
    <% end %>
  </ul>
</section>

<%= link_to 'Edit', edit_high_school_team_path %>
