<h1 class="page-header">Players</h1>

<p><%= link_to "Export as spreadsheet", new_export_path %></p>
<% if is_admin? %>
  <p><%= link_to "Create a new player", new_player_path, class: "btn btn-primary" %></p>
<% end %>

<%= render "table", players: @players, paginate: true, curr_page: @curr_page, num_filtered_players: @num_filtered_players, filters_url: players_path, excludes: [], sort_column: players_table_sort_column, sort_direction: sort_direction %>
