<h1 class="page-header">Players</h1>

<p><%= link_to "Create a new player", new_player_path, class: "btn btn-primary" %></p>

<table class="table table-hover">
  <tr>
    <th>Player</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @players.each do |player| %>
    <tr>
      <td><%= link_to player.full_name, player_path(player) %></td>
      <td><%= link_to "Edit", edit_player_path(player) %></td>
      <td><%= link_to 'Delete', player_path(player),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
