@import "~bootstrap/scss/bootstrap.scss";
@import "easy-autocomplete/dist/easy-autocomplete.css";
@import "home.scss";
@import "tournaments.scss";
@import "players.scss";
@import "actiontext.scss";

.alert {
  margin-top: 10px;
}

h1.page-header {
  padding-bottom: 7.5px;
  margin: 34px 0 17px;
  border-bottom: 1px solid #eeeeee;
}

.card {
  margin-bottom: 16px;
}

.eac-category {
  text-decoration: underline;
}

.filters .col-md span, .filters .col-md .col-header {
  text-decoration: underline;
}
