.players-table {
  .col-md span {
    text-decoration: underline;
  }

  .height {
    label {
      display: block;
    }

    input[type="number"] {
      display: inline-block;
      width: 45%;
    }
  }
}
