<h1 class="page-header">Field page</h1>

<section class="card">
  <section class="card-header">
    Info
  </section>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Name:</strong>
      <%= @field.name %>
    </li>
    <li class="list-group-item">
      <strong>Address:</strong>
      <%= render 'shared/address', address: @field.address %>
    </li>
  </ul>
</section>

<section class="card">
  <section class="card-header">
    Games
  </section>
  <ul class="list-group">
    <% @field.games.each do |game| %>
      <li class="list-group-item"><%= link_to game.long_name, game_path(game) %></li>
    <% end %>
  </ul>
</section>

<%= link_to 'Edit', edit_field_path if is_admin? %>
